@import "tailwindcss";

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("/creato/CreatoDisplay-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adumu";
  src: url("/font/adumu.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Creato", sans-serif;
}

.creato {
  font-family: "Creato", sans-serif;
}

.adumu {
  font-family: "Adumu", sans-serif;
  letter-spacing: 2px; /* adjust as needed */
}

@keyframes border-spin {
  100% {
    transform: rotate(-360deg);
  }
}

/* Card wrapper - acts as border container */
.card-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 1rem; /* rounded-2xl */
  background-image: linear-gradient(
    to bottom,
    #5f371a,
    #1e293b
  ); /* from-slate-700 to-slate-800 */
}

/* Gradient border animation */
.card-wrapper::before {
  content: "";
  position: absolute;
  left: -25%;
  top: -25%;
  height: 150%;
  width: 150%;
  background: conic-gradient(
    rgba(85, 48, 100, 0.4) 0deg,
    rgba(34, 160, 110, 0.4) 0deg,
    transparent 80deg
  );
  animation: border-spin 7s linear infinite;
}

/* Card content */
.card-content {
  position: absolute;
  left: 1px;
  top: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border-radius: 1rem; /* rounded-2xl */
  background-image: linear-gradient(
    to bottom,
    #03033e,
    #03033e
  ); /* from-slate-800 to-slate-900 */
}
